<h2>Celebrity Page</h2>

<div>
  <p> Name: <strong>{{celebrity.name}}</strong></p>
  <p> Occupation: <strong>{{celebrity.occupation}}</strong></p>
  <p> Catch Phrase: <strong>{{celebrity.catchPhrase}}</strong></p>
  <a href="/celebrities/{{celebrity.id}}/edit">Edit this Celeb</a>
</div>