<h2>Movie Page</h2>

<div>
  <p> Title: <strong>{{movie.title}}</strong></p>
  <p> Genre: <strong>{{movie.genre}}</strong></p>
  <p> Plot: <strong>{{movie.plot}}</strong></p>
  <a href="/movies/{{movie.id}}/edit">Edit this Movie</a>
</div>